.boton {
    display: block;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
}

.boton-verde {
    background-color: #207B20;
    box-shadow: inset 0px 0px 10px #54ba5482;
    border: 1px solid rgb(75, 168, 75);
    transition: background-color 500ms;
}

.boton-verde:hover {
    cursor: pointer;
    background-color: #196919;
    border: 1px solid rgb(46, 136, 46);
    box-shadow: inset 0px 0px 10px #54ba54d3;


}

