.proyectos_tabla {
    position: relative;
    display: flex;
    width: 60%;
    height: 50vh;
    margin: 0 auto;
    flex-wrap: wrap;
    color: #FFFFFF;
}


.tabla_encabezado {
    position: relative;
    flex-basis: 100%;
    display: flex;
}

.tabla_encabezado-item {
    position: relative;
    width: 20%;
    background-color: #0d1729;
    color: #FFFFFF;
    border: none;
    padding: 1%;
    z-index: 50;
}

.tabla_encabezado-item:hover {
    cursor: pointer;
    color: #346e34;
}

.tabla_proyectos {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    height: 100%;
    width: 30%;
}

.tabla_proyectos-item {
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 1% 15px;
    border-left: 1px solid #FFFFFF;
    height: max-content;
    transition: all 500ms;
}

.tabla_proyectos-item:hover {
    cursor: pointer;
    /* background-color: #346e34; */
    border-left: 1px solid #346e34;
}



.tabla_proyectos-visualizacion {
    flex-grow: 1;
    display: block;
    width: 70%;
    height: 100%;
    padding: 20px;
}

.tabla-barra {
    position: absolute;
    top: -2px;
    border: 1px solid #8DAC8D;
    width: 100%;
    z-index: 10;
}